<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>produto</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="box">
      <h1>{{product.title}}</h1>
      <h2>{{product.price}}</h2>
      <a href="/">Voltar</a>
    </div>
  </body>
</html>