<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routes</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/tasks/"><li>Ver todos</li></a>
        <a href="/tasks/create"><li>Criar</li></a>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>