<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar usuário</title>
</head>
<body>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Insira seu nome">
        </div>
        <div>
            <input type="text" name="age" placeholder="Insira sua idade">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>