<h2>Cadastro de livros</h2>
<form class="form" action="/books/insert_books" method="POST">
  <div class="form-control">
    <label for="title">
        Título:
    </label>
      <input type="text" name="title" placeholder="Insira o título..." />
  </div>
  <div class="form-control">
    <label for="pages">
        Páginas:
    </label>
      <input type="number" name="pages" placeholder="Insira a quantidade de páginas..." />
  </div>
  <input type="submit" value="Cadastrar">
</form>