*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-weight: bold;
    padding: 10px;
}

input{
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
}

input[type="submit"]{
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.form-checkbox{
    flex-direction: row;
}

.form-checkbox input{
    margin-right: 10px;
}


