body{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.box{
    background-color: rgb(18, 18, 19);
    color: #d3cfcf;
    padding: 20px;
    text-align: center;
}

.box a{
    padding: 10px 20px;
    background-color: #ccc;
    color: #000;
}