<h2 class="title-tasks">Editar task: {{task.title}}</h2>
<form action="/tasks/editTask" method="POST">
  <div class="form-control">
    <input type="hidden" name="id" value="{{task.id}}">
    <label for="title">Título</label>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="O que você vai fazer?"
      value="{{task.title}}"
    />
  </div>
  <div class="form-control">
    <label for="description">Descrição</label>
    <textarea name="description" placeholder="Descreva a task?">{{task.description}}</textarea>
  </div>
  <input type="submit" value="Editar Tarefa">
</form>