*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

nav{
    background-color: #000;
    width: 100%;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
}

.title-tasks{
    text-align: center;
    margin: 30px;
}

form .form-control{
    max-width: 400px;
    margin: 30px;
}

form .form-control input,form .form-control textarea{
    width: 100%;
    padding-left: 4px;
    height: 30px;
    border: 2px solid #ccc;
    outline: 0;
}

input[type="submit"]{
    padding: 8px 15px;
    background-color: black;
    color: #fff;
    margin: 0 30px;
}