<h2>Lista de pessoas</h2>
{{#each people}}
    <h2>{{this.name}}</h2>
    <p>{{this.occupation}}</p>
    <a href="/person/{{this.id}}">Adicionar endereço</a>
{{/each}}
    <a href="/add_person">Cadastrar pessoas</a>
